# Session
# Generate with: openssl rand -base64 32
SESSION_SECRET=your_session_secret_here

# CoinAPI (https://www.coinapi.io/)
COIN_API_KEY=your_coinapi_key_here

# Database (SQLite)
DATABASE_URL="file:./prisma/dev.db"

# CoinGecko API (https://www.coingecko.com/en/api)
COINGECKO_BASE_URL=https://api.coingecko.com/api/v3/
COINGECKO_API_KEY=your_coingecko_api_key_here
